spring:
  application:
    name: Similar Products API
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
server:
  port: ${SERVER_PORT:5000}

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.albertoosdev: ${LOGGING_LEVEL_APP:DEBUG}
    org.springframework: INFO
    org.hibernate: WARN

external:
  products-api:
    url: ${PRODUCTS_API_URL:http://localhost:3001}
    connection-timeout: 3000
    read-timeout: 5000

resilience4j:
  circuitbreaker:
    instances:
      external-similar-ids:
        sliding-window-size: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 1000ms
        permitted-number-of-calls-in-half-open-state: 3
      external-product-detail:
        sliding-window-size: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 1000ms
